bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/BookStore.API/src/.vs/BookStore.API/FileContentIndex/2f134124-4d06-4349-8f9b-753776583368.vsidx
/BookStore.API/src/.vs/BookStore.API/FileContentIndex/78bb17c4-f0fd-49fe-8642-2a4380c99c22.vsidx
/BookStore.API/src/.vs/BookStore.API/FileContentIndex/a7080cb9-390d-4622-abe6-1ccd54f95628.vsidx
/BookStore.API/src/.vs/BookStore.API/FileContentIndex/fd3cf1ac-6ebf-4c75-a8c5-a4b292f6f9d9.vsidx
/BookStore.API/src/.vs/BookStore.API/FileContentIndex/466af69a-1436-4e6b-8918-1f6910cbcb55.vsidx
/BookStore.API/src/.vs/BookStore.API/FileContentIndex
